.row{
    border: 1px solid red;
    padding: 0px;
    margin: 0px;
}
#cont{
    max-width: 100%;
}
.word{
    padding: 0px;
    margin: 0px;

}

.size{
    height:  100px;
    width:   100px;
}
.align{
    margin:10px;
}
.alignv1
{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.forlink
{
    color: blanchedalmond !important;
}
