.row{
    border: 1px solid red;
    padding: 0px;
    margin: 0px;
}
#cont{
    max-width: 100%;
}
.word{
    padding: 0px;
    margin: 0px;

}


.size{
    height:  100px;
    width:   100px;
}
.align{
    margin:10px;
    background-color: brown  !important;
    border: none !important;
}
.alignv2{
    margin:10px;
    background-color: antiquewhite  !important;
    border: solid 1px brown !important;
}
.align:hover{
    background-color: antiquewhite !important;
}
.alignv1
{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.forlink
{
    color: blanchedalmond !important;
}

.disable{
    pointer-events: none;
}
